html, body {
          position: absolute;
          width: 100%;
          height: 100%;
}
.left_side_right_main_wraper {
      position: absolute;
      width: 100%;
      height: 100%;
}
.left_side_wraper {
  position:absolute;
  width:30%;
  height:100%;
  float:left;
  z-index: 5;
}
.right_main_wraper {
  position:relative;
  width:100%;
  height:100%;
  float:left;
  z-index:1;
}